:root {
  --border-color: #dedede;
  --task-bg: #f5f7f9;
  --grey: #c5c6c7;
  --biege-bg: #DBDAD6;
}
body {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

main {
  margin-bottom: auto;
}

.header {
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-bottom: 0;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--task-bg);
}

.section {
  margin-top: 3rem;
}
.section:not(:last-child) {
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid var(--border-color);
}


.section h3{
  margin-top: 2rem;
}

.section h4 {
  margin-top: 1rem;
}

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
  border-top: 1px solid var(--border-color);
}
.header__row {
  align-items: center;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-nav__item {

}

.header-nav__item:not(:last-child) {
  margin-right: 1rem;
}

.header__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 4rem;
  max-height: 4rem;
  object-fit: cover;
  overflow: hidden;
  border-radius: 3rem;
  border: 2px solid var(--border-color);
}

.header__avatar-img {
  max-width: 100%;
  object-fit: cover;
}

.task,
.input-data{
  padding: 1rem;
  border: 1px solid var(--border-color);
  background-color: var(--task-bg);
}

.input-data {
  margin-bottom: 1rem;
}

.input-data h4 {
  margin-top: 0;
}

.footer-socials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footers-socials__item:not(:last-child) {
  margin-right: 1rem;
}
